body {
    background-image: url('../image/charactere/backgroundDendro.jpg');
    background-size: cover;

}

.top-conteneur {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: fit-content;
}

.contenaire-img {
    position: absolute;
    margin-top: 80px;
    margin-left: 55%;
    bottom: 0;
}

.contenaire-img img {

    height: 70vh;
    width: auto;
}

a {
    text-decoration: none;
    z-index: 2;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: #fff;
}

h1 {
    color: #CFBD93;
    margin-left: calc(-40% + -45px);

}

h2 {
    color: #fff;
}

#blocPerso .eyes {
    cursor: pointer;
    margin-left: -16px;
    width: 88px;
    height: 109px;
}

#blocPerso img {
    margin-bottom: 30px;
    z-index: 2;
}

.equar {
    left: 0;
    margin-top: 133px;
    position: absolute;
    z-index: 1;
    background-color: #fff;
    width: 5%;
    height: 64px;
}

.end {
    left: 0;
    margin-left: 5%;
    margin-top: 133px;
    position: absolute;
    z-index: 1;
    border-radius: 0 32px 32px 0;
    background-color: #fff;
    width: 65px;
    height: 64px;
}

.star {
    left: 0;
    margin-left: calc(5% + 45px);
    margin-top: 139px;
    position: absolute;
    z-index: 1;
    height: 50px;
    width: auto;
}

#blocPerso {

    display: flex;
    flex-direction: column;
    width: 58px;
    height: 75px;
    flex-shrink: 0;
}

#blocGaucheHaut {
    justify-content: center;
    top: 0;
    width: 75px;
    margin-left: 5%;
    display: flex;
    border-left: 4px solid #88847A;
    border-right: 4px solid #88847A;
    border-top: none;
    border-bottom: none;
    border-image: linear-gradient(to bottom, #88847A, #88847A00);
    border-image-slice: 1;
    height: 100vh;
    background: linear-gradient(180deg, #4C5362 0%, rgba(76, 83, 98, 0.00) 100%);
}

.conteneur-text {
    margin-top: 8%;
    margin-left: 5%;
    width: 40%;
}

.head-contenaire1{
    z-index: 3;
    position: absolute;
    margin-left: 40;
    margin-top: 128px ;
}

.head-contenaire2{
    z-index: 3;
    position: absolute;
    margin-left: 40;
    margin-top: 210px ;
}

.separation {
    margin-top: 15px;
    margin-bottom: 15px;
    width: auto;
    height: 1px;
    background: rgba(255, 255, 255, 0.24);
}

.text-reponce {
    display: flex;
    justify-content: space-between;
}

#blocHaut {
    width: 95%;
    display: flex;

}


@media screen and (max-width: 1060px) {
    #blocGaucheHaut {
        display: none;
    }

    .conteneur-text {
        margin-top: 50px;
        width: 95%;
    }

    #blocHaut {

        display: block;
    }

    .top-conteneur h1 {
        display: none;
    }

    .top-conteneur h3 {
        display: none;
    }

    .nav-bas {
        align-items: center;
        justify-content: start;
        bottom: 0;
        width: 100vw;
        display: flex;
        border-left: none;
        border-right: none;
        border-top: 4px solid #88847A;
        border-bottom: none;
        position: fixed;
        height: 60px;
        background: linear-gradient(90deg, #4C5362 0%, rgba(76, 83, 98, 0.00) 300%);
    }

    body {
        background-image: url('/image/charactere/backgroundDendro.jpg');
        background-size: cover;
        height: 100%;
        margin: 0;
    }

    .responice-eyes {
        margin-top: -16px;
        width: auto;
        height: 75px;
    }

    .responcive-head {
        width: auto;
        height: 55px;
        z-index: 2;
    }

    .nav-bas a {
        margin-left: 30px;
    }


    .responsive-h1 {
        padding-top: 30px;
        margin-left: 5%
    }

    .white {
        border-radius: 32px 32px 0 0;
        margin-left: 88.5px;
        background-color: #fff;
        z-index: 1;
        bottom: 0;
        position: fixed;
        height: 64px;
        width: 62px;
    }

    .contenaire-img {
        position: relative;
        display: flex;
        align-items: center;
        margin-left: 0%;
        width: 100%;
        justify-content: center;
        margin-top: 30px;
        margin-bottom: 100px;
    }
    .head-contenaire1-responcive{
        z-index: 3;
        position: absolute;
        margin-left: 90px !important;
        margin-bottom: 10px ;
    }
    .head-contenaire2-responcive{
        z-index: 3;
        position: absolute;
        margin-left: 175px !important;
        margin-bottom: 20px ;
    }
}

@media screen and (min-width: 1060px) {
    .responsive-h1 {
        display: none;
    }

    .nav-bas {
        display: none;
    }
}