body {
  margin: 0;
}

#conteneur-flou {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(5px); /* Ajustez le niveau de flou selon vos préférences */

  display: none;
}

#close-nav{
  cursor: pointer;
  position: fixed;
  width: 35px;
  height: auto;
  top: 30px;
  right: 50px;
}

#barre-menu {
  position: fixed;
  top: 0;
  z-index: 1000;
  right: 0; 
  height: 100%;
  width: 35vw;
  background-color: #212222;
  transition: transform 0.3s ease;
  transform: translateX(40vw);
  display: flex;
  justify-content: flex-end;

}

#scroll-menue {
  width: 40px;
  height: auto;

  z-index: 1000;
  position: fixed;
  top: 10%;
  right: 0;
  padding: 30px 15px 30px 15px;
  background-color: #212222;
  border-radius: 37.5px 0 0 37.5px;

}

#sanditch-nav{
  width: 40px;
  height: auto;
  z-index: 999;
  cursor: pointer;
  margin-bottom: 40px;
}
#day-nav{
  cursor: pointer;
  margin-bottom: 30px;
}

#sond-nav{
  cursor: pointer;
}

.separation-svg-header {
  z-index: 999;
  height: auto;
  width: 30vw;
}

.separation-svg-footer {
  z-index: 999;
  height: auto;
  width: 70vw;
}


.theme-toggle,
.sond-toggle img {
  width: 40px;
  height: auto;
  z-index: 999;
  cursor: pointer;
}



.gradient-overlay {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #FFF 1.48%, rgba(255, 255, 255, 0.00) 22.74%);
}

.home-page-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.annim_home_page_night,
.annim_home_page_day {
  z-index: 0;
  align-self: center;
  justify-self: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-top: -100vh;
  position: absolute;
}


.annim_home_page_day {
  z-index: 0;
  align-self: center;
  justify-self: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.theme-toggle {
  display: flex;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 999;
}


.sond-toggle {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 999;
}


.espacement-hauteur {
  margin-top: 15vh;
}

.contenaire {
  margin-right: 30%;
  margin-left: 5%;
}

footer {
  margin-top: 15vh;
  padding-top: 2vh;
  padding-bottom: 4vh;
  background-color: #212222;
  text-align: center;
  align-items: center;
  justify-self: center;
}

footer a {
  display: inline-block;
  text-decoration: none;
  text-decoration-color: white;
}

footer .espacement-footer {
  margin-top: 15px;

}

#barre-menu a h2{
  
  color: #FFF !important;
}

#barre-menu a {
  display: inline;
  text-decoration: none;
  text-decoration-color: white;
  text-align: end;
}

#barre-menu a:hover {
  text-decoration: underline;
  text-decoration-color: white;
}


nav{
  margin-top: 125px;
  margin-right: 50px; 
}
a:hover {
  text-decoration: underline;
  text-decoration-color: white;
}


#menue-menue {
  display: flex;
  margin-left: 60%;
}

#menue-menue img {
  height: auto;
  width: 40px;
  margin: 0 10px; 
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .contenaire {
    margin-right: 20px;
    margin-left: 20px;

  }

  .separation-svg-header {
    display: none;
  }

  .separation-svg-footer {
    display: none;
  }

  #barre-menu {
    transform: translateX(100vw);
    width: 100vw;
  }

  #day-nav{
    display: none;
  }
  #sond-nav{
    display: none;
  }
  #scroll-menue {
    width: 40px;
    top: 0;
    margin-top: -5vh;

    padding: 40px 15px 15px 15px;
  }
  #sanditch-nav{
    margin-left: 2px;
    margin-bottom: 2px;
  }
  #h2-titre{
    margin-top: -30px;
  }

  .home-page-title{
    align-items: start;
  }
}