
body {
    background-size: contain;
}


.bodyflex {
    
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}


.top , .bar p:not(.bottom) {
    color: #212222 !important;
    text-align: left !important;
    padding-top: 10px;
    padding-left: 10px;
}
.bottom {
    color:#fff !important; 
    text-align: left !important;
    padding-top: 10px;
    padding-left: 10px;
}

.center {
    width: 150px;
    height: 150px;
}

.wheel-box {
    width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.BIGTITLE {
    padding: 100px;
    text-shadow: none;
    color: #212222;
}

.wheel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1.5);
}

.information-container {
  width: 50%;
  height: 100%;
  padding-left: 50px;
}

.info-border { 
    border:50px solid transparent;
    border-image: url(../images/Border.png) 100;
    width: 100%;
    height: 100%;
    transform: translate(-50px, -50px);
    min-height: 756px;
}
.information-box {
    width: 80%;
    height: 80%;
    margin-top: 10%;
    display: none;
    padding: 25px;
    background: url(../images/BgB.png), linear-gradient(to right, #545b66, #7c8894);
    max-height: 756px;
}

.title h1 {
    color: wheat;
    margin: 0;
}
.textL {
    color: #212222;
    text-shadow: none;
}

.information {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.title {
    width: 100%;
    display:flex;
    justify-content: space-between;
}

.exit {
    width: 30px;
    height: 30px;
    transition: filter 0.3s ease; 
}

.exit:hover {
    filter: brightness(.8);
  }

.graph {
    flex: 1;
    margin-bottom: 20px;
    margin-top: 20px;
    border-top: 5px double white;
    max-height: 650px;
  overflow-y: auto; 
}

::-webkit-scrollbar {
    width: 6px;
    padding-left: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    background: gainsboro;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.wheel-item {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #3498db;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-family: Arial, sans-serif;
  transform-origin: center center;
}

.icon .ico {
    width: 50px;
    height: 50px;
}

.icon {
    
  display: flex;
  justify-content: center;
  align-items: center;
    transition: all .2s ease-in-out; 

}  

.icon:hover { 
    transform: scale(1.25); 
    } 

    .item-2 .text-container {
        transform: rotate(-45deg);
    }

    .item-3 .text-container {
        transform: rotate(-90deg);
    }
    
    .item-4 .text-container {
        transform: rotate(-135deg);
    }
    
    .item-5 .text-container {
        transform: rotate(-180deg);
    }
    
    .item-6 .text-container {
        transform: rotate(-225deg);
    }
    
    .item-7 .text-container {
        transform: rotate(-270deg);
    }
    
    .item-8 .text-container {
        transform: rotate(-315deg);
    }

.item-1 { transform: rotate(0deg) translateX(150px); }
.item-2 { transform: rotate(45deg) translateX(150px); }
.item-3 { transform: rotate(90deg) translateX(150px); }
.item-4 { transform: rotate(135deg) translateX(150px); }
.item-5 { transform: rotate(180deg) translateX(150px); }
.item-6 { transform: rotate(225deg) translateX(150px); }
.item-7 { transform: rotate(270deg) translateX(150px); }
.item-8 { transform: rotate(315deg) translateX(150px); }



.bar-graph {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: 0; 
    position: relative;
  }
.bar-graph p {
    font-weight: bold;
    padding-right: 10px;
    width: 120px;
    color: white;
    text-align: right;
    min-width: 120px;
}


  .bar {
    height: 50px;
    border-left: 2px solid white;
    padding-top: 20px;
    transition: filter 0.3s ease;
    background-clip: content-box;
    position: relative;
    
    
}

  .tooltip {
    filter: none;
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    transform: translate(-100%, -100%);
  }


  

  .undershine {
    position: absolute;
    width: 100px;
    mix-blend-mode: hard-light;
    height: 100px;
    z-index: -1;
    display: none;
}

.ico {
    transition: filter 0.3s ease;

}
.ico:hover {
    filter: drop-shadow(0 0 0.25rem rgb(255, 246, 197)) drop-shadow(0 0 0.75rem #CFBD93);
}

.textTitle {
    color: rgb(255, 255, 255); 
    padding-left:30px; 
    padding-top:10px; 
    font-weight:200;
}

@keyframes growAndFade {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}


@media (max-width: 960px) {
    informationBoxBack{
        display: none;
    }
    .mobi {
        display: none;
    }
    .wheel-box {
        display: none;
    }
    .information-box {
        display: block;
    }
    .exit {
        display: none;
    }
    .information-container {
        width: 80%;
    }
    .bar-graph p {
        word-wrap: break-word;
    }
    .information-box-back {
        display: none;
    }
    .textTitle {
        display: none;
    }
}
@media (min-width: 960px) {
    .bodyflex{
        height: 100vh;
    }
    #informationBoxBack {
        display: block;
    }
    .textP {
        display: none;
    }
}