.contenaire {
    margin-right: 30%;
    margin-left: 5%;
}

.text-contenaire {
    display: flex;
}

.espacement-contenaire {
    margin-right: 5%;
}

.contenaire h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.contenaire h3 {
    color: #212222;
    margin-top: 20px;
    margin-bottom: 20px;
}


.link-name {
    display: flex;
    margin-bottom: 8px;
}

.link-name a {
    margin-left: 5px;
}

#a {
    color: #3B8CD4;
}

@media screen and (max-width: 768px) {
    .text-contenaire {
        display: block;

    }

    .espacement-contenaire {
        display: none;
    }
}